<div class="mt-5 pt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Product: {{$ctrl.product[0].name}}</h5>
            </div>
            <div class="modal-body">
                <i>Description: </i>{{$ctrl.product[0].description}}
                <span ng-if="!$ctrl.product[0].description"
                      class="card-text text-danger"><i>No available description</i></span>
                <p><b>Price: </b> {{$ctrl.product[0].price | currency}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="$ctrl.onBack()">Go
                    Back
                </button>
                <button id="liveToastBtn" type="button" class="btn btn-primary"
                        ng-click="$ctrl.onAddToCart($ctrl.product[0])">Add
                    to Cart
                </button>
            </div>
        </div>
        <div class="position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Added {{$ctrl.product[0].name}} to your cart.
                </div>
            </div>
        </div>
    </div>
</div>